body {
  font-family: sans-serif;
}
p {
  line-height: 0.5em;
}

input {
  border-radius: 16px;
  border: none;
  padding: 6px 16px;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
}

.input_area {
  background-color: #cffffc;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
}
.imcomplete_area {
  background-color: #cffffc;
  width: 400px;
  height: 200px;
  padding: 8px;
  margin: 8px;
}

.complete_area {
  width: 400px;
  height: 200px;
  padding: 8px;
  margin: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
